version: '3.9'

services:
  web:
    build: .
    container_name: fastapi_app
    restart: always
    env_file:
      - .env
    expose:
      - "8000"
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --proxy-headers

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certs:/etc/nginx/certs:ro
    depends_on:
      - web